/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  
}

.heroBanner__img {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-image: url('@site/static/img/me-sbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  opacity: 0.4;
}
[data-theme="dark"] .heroBanner__img {
  opacity: 0.1;

}


.heroBanner__container {
  position: relative;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
