/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e3e85;
  --ifm-color-primary-dark: #312978;
  --ifm-color-primary-darker: #272c71;
  --ifm-color-primary-darkest: #202b5d;
  --ifm-color-primary-light: #334192;
  --ifm-color-primary-lighter: #355099;
  --ifm-color-primary-lightest: #3c69ad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2557c2;
  --ifm-color-primary-dark: #215faf;
  --ifm-color-primary-darker: #1f55a5;
  --ifm-color-primary-darkest: #1a4a88;
  --ifm-color-primary-light: #2957d5;
  --ifm-color-primary-lighter: #3266d8;
  --ifm-color-primary-lightest: #4f81dd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] .hero--primary {
  background-color: antiquewhite;
}
